h1 {
	color: white;
	font-family: "Nuosu SIL", serif;
}
h2 {
	color: rgb(255, 174, 0);
	letter-spacing: 0.2em;
	font-size: 3em !important;
	font-family: "Nuosu SIL", serif;
}
h3,
h4,
h5 {
	font-family: "Nuosu SIL", serif;
}
p,
a {
	font-family: "Merriweather", serif;
}
@media screen and (max-width: 722px) {
	h2 {
		font-size: 2em !important;
	}
}
